# Metrics for OBA (based on OAK)

**Ontologies:** 

{% for ontology in ontologies %}
* {{ ontology.id }} ({{ ontology.version }})
{% endfor %}

The raw data (ontology metrics) can be found [on GitHub](https://github.com/obophenotype/bio-attribute-ontology/blob/master/src/ontology/reports/oak-metrics.yml).
